# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# --------------------
# Virtual Environments
# --------------------
venv/
env/
.venv/

# --------------------
# Environment / Secrets Files
# --------------------
.env

# --------------------
# Mac OS / Windows
# --------------------
.DS_Store
Thumbs.db

# --------------------
# IDE / Editor-specific
# --------------------
.vscode/
.idea/
*.swp
*.swo
